body{
    background-color: #ccc;
}
h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align:center;
}
table, th, td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}
table {
    margin-top: 1em;
    margin-bottom: 2em;
    border-collapse: collapse;
}
tr:nth-child(2n+2) {
    background: #e9e9e9;
}
tr.hdr{
    font-weight: bold;
}
tr.hdr td{
    text-align:left;
}
tr.blue{
    background: #77f;
    color: #fff;
    font-size: 1.25em;
}

tr.red{
    background: #f77;
    color: #fff;
    font-size: 1.25em;
}

tr.grey{
    background: #aaa;
    color: #fff;
    font-size: 1.25em;
}

td.name {
    text-align: left;
}

td {
    text-align: right;
    padding: 5px;
}
.bold {
    font-weight: bold;
    background-color: #FFFF00;
}
